
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <h2>HELLO</h2>
    </head>
    <body>
        
            <a href="Main/LoginManager"><button type="button" class="btnLogin">Login</button></a>
        
    </body>
</html>

