
@{
    ViewBag.Title = "MyReports";
}

<!DOCTYPE html>
<html>
<head>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="~/static/myreports.js"></script>
    <h2>MY REPORTS</h2>
</head>
<body>
    <div id="result" class="container"></div>
    <div>
        <button id="previous-button" type="button">
            prev
        </button>
    </div>

    <div>
        <button id="next-button" type="button">
            next
        </button>
    </div>
</body>
</html>